img{
    width: 15%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    text-align: center;
    color: #b6d9f8;
    font-size: x-large;
}

h2{
    text-align: center;
    color: #b6d9f8;
    font-size:x-large;
}

label{
    color: #b6d9f8;
    text-align: center;
}

textarea{
    background: rgba(0,0,0,0);
    color: #b6d9f8;
    border: 1px solid black;
    resize: none;
    height: auto;
    font-size: medium;
}

select{
    background: rgba(0,0,0,0);
    color: #b6d9f8; 
}

input[type="text"]{
    border: 0;
    border-bottom: 2px solid #b6d9f8;
    background: rgba(0,0,0,0);
    color: #b6d9f8;
    font-size: medium;
    width: 4.5em;
    text-align: center;
} 

input[type="number"]{
    border: 0;
    border-bottom: 2px solid #b6d9f8;
    -moz-appearance: textfield;
    background: rgba(0,0,0,0);
    color: #b6d9f8;
    text-align: center;
    font-size: medium;
    width: 4.5em;
}

.charsheet{
    background-image: url(https://raw.githubusercontent.com/bmparks5150/Shadowrun6E/main/Shadowrun6E%20Character%20Sheet/images/Shadworun-Background.png);
    font-family: Contrail, serif;
    font-size: medium;
}

.sheet-flex-section{
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.sheet-flex-section-horizontal{
    display:flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.sheet-flex-section-horizontal input{
    margin-left: 20px;
}

.sheet-grid-section{
    display: grid;    
    grid-template-columns: repeat(4, 10%);  
    justify-content: center;  
    column-gap: 20px;
}

.sheet-labels{
    display: grid;
    text-align: end;
}

.sheet-values{
    display: grid;
}

.sheet-left-values{
    padding-left: 1rem;
}

.sheet-right-values{
    padding-left: 6rem;
}

.sheet-character,
.sheet-attributes,
.sheet-skills,
.sheet-qualities,
.sheet-lifestyle,
.sheet-weapons,
.sheet-spells,
.sheet-adept,
.sheet-armor,
.sheet-gear,
.sheet-vehicles,
.sheet-contacts,
.sheet-journal {
    display: none;
}

.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.sheet-tabstoggle[value="qualities"] ~ div.sheet-qualities,
.sheet-tabstoggle[value="lifestyle"] ~ div.sheet-lifestyle,
.sheet-tabstoggle[value="weapons"] ~ div.sheet-weapons,
.sheet-tabstoggle[value="spells"] ~ div.sheet-spells,
.sheet-tabstoggle[value="adept"] ~ div.sheet-adept,
.sheet-tabstoggle[value="armor"] ~ div.sheet-armor,
.sheet-tabstoggle[value="gear"] ~ div.sheet-gear,
.sheet-tabstoggle[value="vehicles"] ~ div.sheet-vehicles,
.sheet-tabstoggle[value="contacts"] ~ div.sheet-contacts,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
    display: block;
}

.repcontainer[data-groupname="repeating_example"] > .repitem {
    display: inline-block;
}

.sheet-long-number{
    size: 500px;
    width: 100%;
}

.sheet-no-border{
    border: 0;
}

input.small-label{
    width: 100px;
}